# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IP address and listening port
Shared/TCP.h

# Ignores for libraries used with ui
!TCPClient/Dependencies/curl/lib/*.a
!TCPClient/Dependencies/glfw/lib-mingw/*.a

# Ignore python .venv
.venv/
